APP_ENV=development

# LLM Provider: openai | groq | ollama
LLM_PROVIDER=ollama

# Rate Limiting
RATE_LIMIT_REQUESTS=60
RATE_LIMIT_WINDOW=60


# TODO API Keys

# TODO Azure Key Vault
USE_KEYVAULT=false